.menu {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    padding: 0;
}

.menu__link {
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    color: gray;
}

.menu__leave-button{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.menu__leave-button:hover {
    color: gray;
}

.menu__link__current{
    color: gray;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu__link__current{
        color: white;
        padding-bottom: 2px;
        border-bottom: 2px solid rgb(0, 127, 169);
    }
}