.product-mini{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    outline: 1px solid gray;
    justify-content: space-between;
    align-items: center;
}

.product-mini__title{
    margin: 0 0 10px;
}

.product-mini__price{
    margin: 0;
}

.product-mini__image{
    max-width: 70%;
    max-height: 70%;
}