.total-cost{
    box-sizing: border-box;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .total-cost{
        background-color: rgba(13,17,23,.9);
        order: 1;
        position: sticky;
        top: 0;
    }
}