.login{

}

.login__form{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 15px;
    align-items: center;
    padding: 50px;
}

.login__input{
    background-color: transparent;
    border: none;
    color: white;
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.login__input:focus{
    outline: none;
    border-bottom: 1px solid rgb(139, 139, 255);
}

.login__input-error{
    margin: 0;
    color: red;
    height: 22px;
}

.login__submit-button{
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(56, 56, 197);
    color: white;
    font-size: 18px;
    padding: 10px;
    margin: 35px auto 0;
    width: 200px;
}

.login__submit-button:disabled{
    background-color: rgb(169, 169, 252);
    cursor: not-allowed;
}